.hljsw-wrapper {
    margin: 1em 0;
    border: 0.1em solid #c8ccd1;
}
.hljsw-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    background-color: #e6e6e6;
    color: #171717;
    border-bottom: 0.1em solid #c8ccd1;
}
.hljsw-title {
    padding: 2px 10px;
    font-weight: 600;
}
.hljsw-copybutton {
    margin-left: auto;
    padding: 2px 10px;
    cursor: pointer;
    border-left: 0.1em solid #c8ccd1;
}
.hljsw-copybutton:hover {
    background-color: #f2f2f2;
}
.hljsw-content {
    display: flex;
    flex-direction: row;
}
.hljsw-content pre {
    margin: 0;
    border: none;
}
.hljsw-content pre.hljs {
    flex-grow: 1;
    tab-size: 4;
}
.hljsw-content pre.hljsw-linenumber {
    padding: 1em 0.4em 1em 1em;
    text-align: right;
    color: #656e77;
    background: #eeeeee;
    user-select: none;
}
