.hljsw-wrapper {
    margin: 1em 0;
    border: 0.1em solid #c8ccd1;
}
.hljsw-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    background-color: #e6e6e6;
    color: #171717;
    border-bottom: 0.1em solid #c8ccd1;
}
.hljsw-title {
    padding: 2px 10px;
    font-weight: 600;
}
.hljsw-copybutton {
    margin-left: auto;
    padding: 2px 10px;
    cursor: pointer;
    user-select: none;
    border-left: 0.1em solid #c8ccd1;
}
.hljsw-copybutton.clicked {
    cursor: default;
}
.hljsw-copybutton:hover {
    background-color: #f2f2f2;
}
.hljsw-copied-icon {
    color: #3c763d;
}
.hljsw-content {
    display: flex;
    flex-direction: row;
}
.hljsw-content pre {
    margin: 0;
    border: none;
}
.hljsw-content pre.hljs {
    flex-grow: 1;
    tab-size: 4;
    white-space: pre;
}
.hljsw-content pre.hljsw-linenumber {
    padding: 1em 0em;
    text-align: right;
    direction: rtl;
    color: #656e77;
    background: #eeeeee;
    user-select: none;
}
.hljsw-content pre.hljsw-linenumber > div.linenumber {
    padding-left: 1em;
    padding-right: 0.4em;
}
.hljsw-content pre.hljsw-linenumber > div.linenumber.marked {
    background-color: #ffffcc;
}
.hljsw-content pre.hljs.line {
    padding-left: 0;
}
.hljsw-content pre.hljs.line > div.line {
    padding-left: 1em;
}
.hljsw-content pre.hljs.line > div.line.marked {
    background-color: #ffffcc;
}
pre.loading {
    position: relative;
    user-select: none;
    color: #0000;
}
pre.loading::before {
    content: 'Loading code...';
    position: absolute;
    color: #888;
}
code.hljs.inline {
    display: inline;
}
